<div class="mb-4 h2 text-success">
    Sign Up
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <input type="text" class="form-control bg-body-secondary" placeholder="Name" formControlName="fullName">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control bg-body-secondary" placeholder="Password" formControlName="password">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control bg-body-secondary" placeholder="Confirm Password" formControlName="confirmPassword">
    </div>
    <button type="submit" class="btn btn-success w-100 rounded-3">Register</button>
</form>